<%- include('./partials/header') %>

<%- include('./partials/navbar') %>


  <div class="container" id="reviews">
    <h2> Recent Reviews </h2>
    <div class="row">
    <div class="col-sm-6 offset-sm-2">

      <% usersWithReviews.forEach(function(user) { %>
      <h4> <%= user.review %> </h4>
      <p> written by <%= user.username.split('@')[0] %> </p>
      <hr>
      <%  }) %>
    </div>
  </div>
  <div class="buttons">
  <a class="btn btn-lg btn-outline-primary" href="/submit" role="button">Leave a review</a>
  <a class="btn btn-lg btn-outline-primary" href="/logout" role="button">Log Out</a>
  </div>
</div>


<%- include('./partials/footer') %>
